<%- include('../partials/header', { title: 'Article Details' }) %>
<div class="container">
  <h2><%= article.title %></h2>
  <p><small>Created on: <%= new Date(article.createdAt).toLocaleDateString() %></small></p>
  <% if (article.title) { %>
    <p><strong>Title:</strong> <%= article.title %></p>
  <% } %>
  <p>
    <strong>Article URL:</strong>
    <a href="<%= article.url %>" target="_blank"><%= article.url %></a>
  </p>
  <% if (article.content) { %>
    <p><strong>Content:</strong> <%= article.content %></p>
  <% } %>
  <a href="/articles" class="btn btn-secondary">Back to Article</a>
</div>
<%- include('../partials/footer') %>